{{ define "page" }}
    <div id="urls" class="overflow-auto" hx-swap-oob="{{ if eq .NextPage 2 }}innerHTML{{ else }}beforeend{{ end }}">
        {{ range .URLs }}
            {{ template "url" . }}
        {{ end }}

        {{ $length := len .URLs }} {{ if eq $length .PerPage }}
            <p class="hidden" hx-get="/urls?page={{ .NextPage }}" hx-trigger="load" hx-target="#urls" hx-swap="none">Loading</p>
        {{ end }}
    </div>
{{ end }}
