{{ define "url" }}
    <div id="url--{{ .ID }}">
        <p>ID: {{ .ID }}</p>
        <p>UUID: {{ .UUID }}</p>
        <p>Target: {{ .Target }}</p>
        <p>Created At: {{ .CreatedAt }}</p>
        <p>Deleted At: {{ .DeletedAt }}</p>
    </div>
{{ end }}
